@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/****************************************************
General
****************************************************/

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.btn-primary {
  background-color: #f39231;
  border: 1px solid #f39231;
  border-radius: 0 !important;
}

.btn-primary:hover {
  background-color: #da832c;
  border: 1px solid #da832c;
}

.btn-outline-secondary {
    color: #222;
    background-color: transparent;
    background-image: none;
    border-color: #f39231;
    border-radius: 0px;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0 !important;
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
}


.social a {
  font-size: 2.5em;
  padding: 1rem;
}


hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

.display-4 {
  font-size: 2.5rem;
}

/** Operations pages **/
.left-column-text {
  padding-top: 40px !important;
}

.ap-more-padding {
  padding-left: 30px;
  padding-right: 30px;
}

.ap-main-container {
  max-width: 1600px;
  margin: 0 auto;
}

/****************************************************
Nav
****************************************************/

.navbar {
  padding: .8rem;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.navbar-nav li {
  padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}

.dropdown-menu {
  background: #f8f9fa;
  border: none;
  top: 93% !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #222;
  text-decoration: none;
  background-color: #f39231;
}

.logo-mobile {
  display: none;
}



/****************************************************
Homepage
****************************************************/

/** operations section **/

.bg-color {
  background: #fafafa;
}

.bg-color .padding {
 padding-bottom: 2rem;
 padding-top: 4rem;
}

.list-button-operation {
  display: block;
}

.list-button-operation .col {
  width: 32%;
  display: inline-block;
  padding: 5px;
}

.operations {
  background-color: #fff;
  border: 3px solid #f39231;
  color: #222;
  width: 100%;
  font-size: 14px;
  padding-left: 2px;
  padding-right: 2px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
}

.operations:hover {
  border: 3px solid #da832c;
}

/** USP **/

.fa-check-square {
  font-size: 50px;
  position: relative;
  margin-right: 10px;
  top: 10px;
  color: #f39231;
}

.usp-text {
  display: inline-block;
  font-size: 22px;
}

/** Hire staff **/
.img-staff {
  float: right;
  margin-right: 9rem;
}

.advantages .padding {
  margin-top: 4rem;
}

/** On banner **/
.banner-homepage .btn-primary {
  font-size: 20px;
  width: 220px;
}

.stuff-button {
  margin-right: 15px;
  background-color: #4d83d4;
  border-color: #4d83d4;
}

.stuff-button:hover {
  background-color: #4575be;
  border-color: #4575be;
}

/****************************************************
Banner
****************************************************/

.banner-container {
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.banner-heading-container {
  position:absolute;
  top:50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 3%;
  left: 3%;
  z-index: 10;
  color: #fff;
  text-align: center;
}

.banner-heading-container h1 {
  font-size:500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 15px #000;
}

.banner-heading-container h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}

/** Homepagen **/
.banner-homepage {
  background-image:  url("img/df/ekonomi.jpg");
  height: 400px;
}


/* School */
.banner-school {
  background-image: url("img/df/skola.jpg");
}

/* Restaurant */
.banner-restaurant {
  background-image: url("img/df/restaurang.jpg");
}

/* Care */
.banner-care {
  background-image: url("img/df/vard.jpg");
}

/* economy */
.banner-economy {
  background-image: url("img/df/ekonomi.jpg");
}

/* construction */
.banner-construction {
  background-image: url("img/df/bygg.jpg");
}

/* cleaning */
.banner-cleaning {
  background-image: url("img/df/lokalvard.jpg");
}

/* Retail */
.banner-retail {
  background-image: url("img/df/detaljhandel.jpg");
}

.banner-container.banner-cleaning, .banner-container.banner-retail {
  background-position: center;
}





/****************************************************
Form
****************************************************/

.form-container {
  background: #f2f2f2;
  padding: 30px;
  margin-top:20px;
  border: 1px solid #ddd;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 0px !important;
  padding-left: 50px;
}

.text-muted {
  color: #fff !important;
}

.form-heading {
  color: #222;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1.4rem;
}

.form-submit-btn {
  color: #fff;
  background-color: #f39231;
  border-color: #f39231;
  width: 100%;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 0px;
}

.form-submit-btn:hover {
  background-color: #ea8f33;
  border-color: #ea8f33;
}

label {
  display: inline-block;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

.form-control-file, .form-control-range {
  font-size: 0.8rem;
}

.form-group {
  margin-bottom: 0.5rem;
}

#name, #phone, #email, #exampleTextarea, #company-name {
  background-size: 22px 19px;
  background-position: 11px 8px;
  background-repeat: no-repeat;
}

#company-name {
  background-image: url('img/df/company-form.svg');
}

#name {
  background-image: url('img/df/name-form.svg');
}

#phone {
  background-image: url('img/df/phone-form.svg');
}

#email {
  background-image: url('img/df/email-form.svg');
}

#exampleTextarea {
  background-image: url('img/df/message-form.svg');
}

/** Flap and Form changes **/

.flap-one {
    background: #f2f2f2;
    display: inline-block;
    padding: 5px;
    width: 150px;
    text-align: center;
    position: absolute;
    left: 16px;
    top: 2px;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
}

.flap-two {
  background: #f2f2f2;
  display: inline-block;
  padding: 5px;
  width: 150px;
  text-align: center;
  position: absolute;
  left: 166px;
  top: 2px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.flap-active {
  background: #ddd !important;
}

.form-container-search-stuff {
  display: none;
}

.show-form-search-staff {
  display: block !important;
}

.hide-form-apply-job {
  display: none !important;
}


/****************************************************
Footer
****************************************************/

footer {
  background: #062834 !important;
  color: #fff !important;
  padding-top: 2rem;
}

footer a {
  color: #fff !important;
}

.footer-copyright {
  font-size: 0.8rem;
  font-weight:300;
}

.footer-content {
  margin-bottom: 0.4rem;
  font-size: 0.9rem;
}

.footer-logo {
  margin-bottom: 1.5rem;
}

.social-icon {
  color:white;
}

.footer-content-container {
  width:40%;
  margin:0 auto;
  text-align:left;
}




/****************************************************
Media Queries
****************************************************/

@media (min-width: 991px) {

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

@media (max-width: 1280px) {
  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: inline-block;
  }
}


@media screen and (max-width: 1100px) {
  .fa-check-square {
    font-size: 40px;
    top: 8px;
  }

  .usp-text {
    font-size: 20px;
  }
}



@media (max-width: 991px) {

  .banner-homepage .banner-heading-container h1 {
    font-size: 250%;
  }

  .banner-homepage .banner-heading-container h3 {
    font-size: 150%;
  }

  .social a {
    font-size: 4em;
    padding: 2rem;
  }

  .banner-container {
    height: 160px;
  }

  .banner-container.banner-homepage {
    height: 250px;
  }

  .carousel-caption h1, .banner-heading-container h1 {
    font-size:350%;
  }



}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .fa-check-square {
    font-size: 40px;
    top: 0;
  }

  .usp-text {
    display: block;
    font-size: 18px;
    margin-top: 5px;
  }
}

@media (max-width: 768px) {


  .display-4 {
    font-size: 200%;
  }

  .social a {
    font-size: 2.5em;
    padding: 1.2rem;
  }

  .welcome {
    width: 100%;
  }

}

@media (max-width: 767px) {
  .usp-container {
    width: 100%;
    display: block;
    max-width: none;
    flex: none;
  }

  .usp-outer-container {
    width: 300px;
    margin: 0 auto;
  }

  .usp-outer-container .text-center {
    text-align: left !important;
  }

  .fa-check-square {
    font-size: 50px;
    top: 12px;
  }

}

@media (max-width: 576px) {

  h2 {
    font-size: 1.6rem;
  }

  p {
    font-size: 14px;
  }

  .banner-homepage .banner-heading-container h1 {
    font-size: 185%;
  }

  .banner-homepage .banner-heading-container h3 {
    font-size: 110%;
  }

  .banner-homepage .btn-primary {
    margin-top: 0.6rem;
    font-size: 18px;
    width: 160px;
  }

  .display-4 {
    font-size: 160%;
  }

  .social a {
    font-size: 2em;
    padding: .7rem;
  }

  .banner-heading-container .btn-primary {
    width: 50%;
    margin-right: 0;
  }

  .list-button-operation .col {
    width: 100%;
  }
}




/*--- Fixed Background Image --*/
figure {
  position: relative;
  width: 100%;
  height: 60%;
  margin: 0!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#fixed {
  background-image: url('img/mac.png');
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
}
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}





/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/
