/****************************************************
General
****************************************************/

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.btn-primary {
  background-color: #f39231;
  border: 1px solid #f39231;
  border-radius: 0 !important;
}

.btn-primary:hover {
  background-color: #da832c;
  border: 1px solid #da832c;
}

.btn-outline-secondary {
    color: #222;
    background-color: transparent;
    background-image: none;
    border-color: #f39231;
    border-radius: 0px;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #da832c;
    border-color: #da832c;
}

h1, h2 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px 0;
  font-weight: 400;
}

th {
  text-align: center;
}

td {
  vertical-align: middle !important;
}

.ap-main-container {
  max-width: 1600px;
  margin: 0 auto;
  min-height: 600px;
}

.padding {
  padding-bottom: 20px;
  padding-top: 20px;
}

/****************************************************
Nav
****************************************************/

.navbar {
  padding: 0 .8rem;
  -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 8px rgba(0,0,0,0.3);
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.navbar-light .navbar-brand {
  padding-bottom: 0;
  color: #f39231;
}

.navbar-light .navbar-brand:hover {
  color: #f39231;
}

.navbar-nav li {
  padding-right: 20px;
}

.log-out {
  color: #007bff !important;
}

.log-out:hover {
  text-decoration: underline !important;
}

.nav-link {
  font-size: 1.1em !important;
}

.dropdown-menu {
  background: #f8f9fa;
  border: none;
  top: 93% !important;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  text-decoration: none;
  background-color: #f39231;
}

.admin-heading {
  padding: 0;
}


/****************************************************
Login form
****************************************************/

.login-form {
  margin-top: 100px;
}

.input-text {
  height: 26px;
  width: 250px;
}
.input-password {
  height: 26px;
  width: 250px;
}
.input-submit {
  height: 39px;
  width: 100%;
  background: indianred;
  color: white;
  text-decoration: none;
  border: none;
  font-size: 23px;
  cursor: pointer;
}

.wrong-message {
  margin-top: 30px;
}



/****************************************************
CV admin
****************************************************/

.logout {
  position: absolute;
  right: 70px;
  top: 24px;
  font-size: 20px;
}


table.CV-table {
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
  font-family: 'Poppins', sans-serif;
  /*table-layout: fixed;*/
}

table.CV-table tr th {
  background: #f39231;
  color: #fdfdfd;
  font-weight: 400;
  border: 1px solid #f39231;
  padding: 10px;
  font-size: 18px;
}

table.CV-table, table.CV-table td {
  border: 1px solid #ddd;
  text-align: center;
  padding: 16px;
  color: #222;
}

table.CV-table tr:nth-child(odd) {
  background: #f5f5f5;
}

.respond-btn, .delete-btn, .unmark-btn  {
  padding: 3px 8px;
  color: #fff;
  display: block;
  margin: 0 auto;
}

.respond-btn, .unmark-btn {
  background-color: blue;
  border-color: blue;
  width: 150px;
  margin-bottom: 5px;
}

.delete-btn {
  background-color: #cc3300;
  border-color: #cc3300;
  width: 150px;
}

.unmark-btn {
  display: none;
}

.unmark-btn.show-button{
  display: block;
}

.marked-row {
  display: none;
}

.respond-marked {
  background: #00ff98 !important;
}

.respond-btn.hide-button {
  display: none;
}

/****************************************************
Edit time
****************************************************/

.CV-table.table.table-change-time {
  margin: 50px auto;
}

.TIME-table .respond-marked {
  background: #d77c7c !important;
}

.change-time-btn {
  width: 150px;
  margin: 0 auto;
  padding: 3px 8px;
  background: blue;
  color: #fff;
}

/****************************************************
Footer
****************************************************/

footer {
  background: #062834 !important;
  color: #fff !important;
  padding-top: 0;
  margin-top: 50px;
}

footer .container-fluid {
  max-width: 1600px;
  padding-bottom: 12px;
}

footer a {
  color: #fff !important;
}

.footer-copyright {
  font-size: 0.8rem;
  font-weight:300;
}

.footer-content {
  margin-bottom: 0.4rem;
  font-size: 0.8rem;
}




/*---- Bootstrap Padding Fix ---*/
[class*="col-"] {
    padding: 1rem;
}




/****************************************************
Media Queries
****************************************************/

@media (min-width: 991px) {

  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
